html, body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

#content {
  display: flex;
  justify-content: center;
  width: 100vw;
}

#canvas {
  height: 90vh !important;
  width: 90vw !important;
}
